.container-form{
  outline: 1px solid black;
  width: 55vw;
  margin: 1rem auto;
}

.form-container{
  width: 60%;
  margin: 1rem auto;
}

.form-style ul{
	list-style: none;
}

.form-style li{
  margin: .5rem auto;
}

.form-style li label{
  display: block;
}

.form-style li input{
  width: 100%;
  border-radius: 3px;
  height: 2.25rem;
  font-size: 1em;
}

.button-li{
  text-align: center;
}

.button-59{
  margin: .5rem .25rem;
}