header{
  border-bottom: 1px solid black;
  padding-bottom: 1rem;
}

h1{
  margin: .45rem;
  text-align: right;
}

/* BUTTON */

.button-59 {
  align-items: center;
  background-color: #fff;
  border: 2px solid #000;
  box-sizing: border-box;
  color: #000;
  cursor: pointer;
  display: inline-flex;
  fill: #000;
  font-family: Inter,sans-serif;
  font-size: 16px;
  font-weight: 600;
  height: 38px;
  justify-content: center;
  letter-spacing: -.8px;
  line-height: 24px;
  min-width: 100px;
  outline: 0;
  padding: 0 17px;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-right: .33rem;
}

.button-59:focus {
  color: #171e29;
}

.button-59:hover {
  border-color: #06f;
  color: #06f;
  fill: #06f;
}

.button-59:active {
  border-color: #06f;
  color: #06f;
  fill: #06f;
}

@media (min-width: 768px) {
  .button-59 {
    min-width: 130px;
  }
}

.header-button{
  display:flex;
  justify-content:flex-end;
  width:100%;
  padding:0;
}